*.class
**/.metadata
**/.gradle
**/bin/
**/tmp/
*.tmp
*.bak
*.swp
*~.nib
**/local.properties
**/.loadpath

# External tool builders
**/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
**/.cproject

# PDT-specific
**/.buildpath

# TeXlipse plugin
.texlipse

# NetBeans specific #
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/nbactions.xml
**/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear