.tableImage
{
  -fx-background-image: url("../images/pokerTable.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.scrollContain
{
    -fx-background-color: #FFFFFF;
}

.text-area, .text-field
{
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}

.defaultUserImage {
  -fx-background-image: url("../images/profile_picture_default.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
  -fx-border-color: #00E3FF;
}

.userImage, .userName, .chipCount
{
    -fx-background-color: #191919;
    -fx-border-color: #00E3FF;
}

.userName, .chipCount
{
    -fx-font-family: "Arial";
    -fx-font-size: 12;
    -fx-text-fill: #00E3FF;
    -fx-padding: 0 0 0 5;
}

.playersTurn
{
    -fx-background-color: #191919;
    -fx-border-color: #FFDE00;
    -fx-text-fill: #FFDE00;
}

.joinTableOverlay
{
    -fx-background-color: rgba(94, 94, 94, 0.5);
}

.joinTableContain
{
    -fx-background-color: #191919;
    -fx-border-color: #00E3FF;
}

.joinTableHeader
{
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: #00E3FF;
}

.joinTableLabel
{
    -fx-font-family: "Arial";
    -fx-font-size: 12;
    -fx-text-fill: #00E3FF;
}

.joinTableButtons
{
    -fx-background-color: #191919;
    -fx-border-color: #00E3FF;
    -fx-border-radius: 5px;
    -fx-text-fill: #00E3FF;
}

.joinTableButtons:hover
{
    -fx-background-color: #00E3FF;
    -fx-border-color: #191919;
    -fx-text-fill: #191919;
    -fx-cursor: hand;
}