.tableImage
{
  -fx-background-image: url("../images/pokerTable.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.scrollContain
{
    -fx-background-color: #FFFFFF;
}

.text-area, .text-field
{
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}

.gameButtons
{
    -fx-background-color: #428BCA;
    -fx-border-color: #357EBD;
    -fx-text-fill: #FFFFFF;
}

.gameButtons:hover
{
    -fx-background-color: #3276B1;
    -fx-border-color: #285E8E;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.userImage, .userName, .chipCount
{
    -fx-background-color: #191919;
    -fx-border-color: #00E3FF;
}

.userName, .chipCount
{
    -fx-font-family: "Arial";
    -fx-font-size: 12;
    -fx-text-fill: #00E3FF;
    -fx-padding: 0 0 0 5;
}