.userImage
{
    -fx-border-color: #00E3FF;
}

.heading
{
    -fx-font-family: "Arial";
    -fx-font-size: 24;
    -fx-text-fill: #3398EE;
}

.labels
{
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #3398EE;
}

.statisticsOptions
{
    -fx-background-color: #F5F5F5;
    -fx-border-color: #E3E3E3;
    -fx-border-radius: 0 0 0 0;
    -fx-text-fill: #0093FF
}

.statisticsOptions:hover, .statisticsOptions:focused
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0093FF;
    -fx-border-color: #0093FF;
    -fx-cursor: hand;
}