*.class
**/.metadata
**/.gradle
**/bin/
**/tmp/
*.tmp
*.bak
*.swp
*~.nib
**/local.properties
**/.loadpath

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

